[submodule ".config/oh-my-zsh/powerlevel9k"]
	path = .config/oh-my-zsh/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".config/oh-my-zsh/plugins/zsh-syntax-highlighting"]
	path = .config/oh-my-zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
