



*.log
*.swp
*history*
.CFUserTextEncoding
.DS_Store
.IdentityService/AccountStore.json
.ServiceHub/logs/hubHostClr-75214-v9p8hhbu-1.log
.ServiceHub/logs/hubHostClr-75706-az43cb30-1.log
.Trash
.android/
.atom
.aws/credentials
.blackfire.ini
.cache
.cfg/
.composer
.config/NuGet/
.config/QtProject/
.config/StardewValley/
.config/configstore/
.config/gocode/
.config/gtk-2.0
.config/inkscape
.config/nvim/autoload/
.config/nvim/plugged/
.cups
.docker
.electroneum
.emacs.d/
.gem
.gitkraken
.glide
.hex
.ipython/
.lesshst
.local
.local/share/nvim/shada/
.mix
.mono
.mume
.node-gyp
.npm
.npmrc
.nuget
.nuuid.ini
.oracle_jre_usage
.parallel/tmp/sshlogin/Bubbas-MBP/linelen
.pdepend
.pearrc
.phpls
.pia_manager
.pylint.d
.rnd
.serverless/
.serverlessrc
.ssh/known_hosts
.subversion/
.templateengine
.vagrant.d/
.valet/
.vim/
.viminfo
.viminfo
.virtualenvs/
.vscode
.wapi
.zcompdump*
.zsh_history
Applications/
Desktop/
Development/
Documents/
Downloads/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
Remote/
VirtualBox VMs/
Warm Lamp Games/
cryptomining/
dev/
node_modules/
